PROTOCOL_IDENTIFIER=D
NODE_RPC_URL=http://127.0.0.1:22555
NODE_RPC_USER=rpc_user
NODE_RPC_PASS=rpc_password
TESTNET=false
FEE_PER_KB=50000000
UNSPENT_API=https://unspent.dogeord.io/api/v1/address/unspent/  //optional
ORD=https://wonky-ord-v2.dogeord.io/
WALLET=.wallet.json
SERVER_PORT=3000
